#topNav{
 background-color: orange;
 margin: 0;
 width: 100vw;
 padding-top: 1em;
 padding-bottom: 1em;
 padding-left: 4em;
}

#topNav button{
 border: none;
 font-weight: bold;
 background-color: transparent;
}

#topNav a{
 color: black;
}

#filmContent{
 overflow: scroll;
 background: lightgrey;
 height: 75vh;
 padding: 2em;
}

body{
 background-color: black;
 padding: 0;
}

#filmContent{
 margin-top: 2em;
}

#verticalMenu{
 margin-top: 2em;
 color: white;
 font-size: 2em;
}

#verticalMenu a{
 color: white;
}